*{
	box-sizing: border-box;
	margin: 0;
}
html body{
	height: 100%;
	width: 100%;
	
	
}
#todo{
	width: 100%;
	height: 100%;
}
header{
	height: 6%;
}

#seg{
	height: 14%;
	width: 100%;
	background-color: aquamarine;
	opacity: 0.9;
}
#icono{
	color: #ffffff;
	opacity: 1;
}
#barra{
	padding: 0;
	height: 10%;
}
#nav{
	padding-left: 12px;
}
#nav li a{
	height: 100%;
	color: #ffffff;
	padding: 12px 12px;
	opacity: 1;
}
.nav-link:hover{
	background-color: dimgray;
}
.a .nav-link:hover{
	background-color: dimgray;
}
section{
	height: 60%;
	width: 100%;
}

#noticia1, #noticia2, #noticia3, #noticia4{
	opacity: 1;
	max-width: 350px;
}

img{
	border-radius: 12px;
	width: 350px;
	height: 150px;

}
footer{
	height: 10%;
}
