
*{
	box-sizing:border-box;
}
html, body{
	width:100%;
	height:100%;
	

}
header{
	width: 100%;
	height:10%;
	background: linear-gradient(to top right, 	#1AB385 0%, #ffffff 100%);}

a{
	width: 100%;
	height: 100%;
	
}
img{
	width: 80px;
	height: auto;
	margin-left: 20px;
	opacity: 1;
}
section{
	width: 100%;
	height:80%;
	opacity: 1;
	background-image: url(../img/fondo2.jpg);
	
}

#ab{
	height:100%;
}
#user{
	font-weight: bold;
	color: black;
	opacity: 1;
}
#contra{
	font-weight: bold;
	color: black;
	opacity: 1;
}
#re{
	color: #ffffff;
}
footer{
	height: 10%;;
}
